<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include( "head.ejs" ); %>
    <title>蔵書管理システム(α) -追加ページ</title>
  </head>
  <body>
    <header>
      <%- include( "header.ejs" ); %>
    </header>

    <section class="block">
      <h1>追加フォーム</h1>
      <form action="/addResult" method="POST" enctype="multipart/form-data">
        <br />
        あなたの名前
        <input type="text" name="contributor" required /><br />
        タイトル
        <input type="text" name="title" required /><br />
        著者
        <input type="text" name="author" required /><br />
        出版社
        <input type="text" name="publisher" required /><br />
        評価

        <select name="good">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option> </select
        ><br />

        感想<br />
        <textarea name="feelings" rows="10" cols="40"></textarea>
        <br />
        <input type="file" name="path" />

        <button type="submit">追加</button>
      </form>
      <br /><br />
      <a href="/">TOP PAGE</a>
    </section>
  </body>
</html>
