<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>追加ページ</title>
  </head>
  <body>
    <h1>追加フォーム</h1>
    <form action="/addResult" method="POST">
      <br />
      title
      <input type="text" name="title" /><br />
      author
      <input type="text" name="author" /><br />
      publisher
      <input type="text" name="publisher" /><br />
      <button type="submit">追加</button>
    </form>
  </body>
</html>
