<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>追加ページ</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>追加フォーム</h1>
    <form action="/addResult" method="POST">
      <br />
      タイトル
      <input type="text" name="title" /><br />
      著者
      <input type="text" name="author" /><br />
      出版社
      <input type="text" name="publisher" /><br />
      <button type="submit">追加</button>
    </form>
    <br />
    <a href="/">TOP PAGE</a>
  </body>
</html>
