<h1>
  <a href="/">蔵書管理システム(α)</h1></a>

<div class="searchBox">
  <form action="/search/:searchWord" method="get">
    <input type="text" id="searchWord" />
    <input type="button" value="検索" onclick="clickSearch()" />
  </form>
</div>
